/*limpar formatações padrão*/
*{
    margin: 0;
    padding: 0;
}
body {
    font-size: 1em;
    font-family:"trebuchet MS" , Helvetica, sans-serif;
     background: #e6e6e6;

}

#area-cabecalho {
    background-color: #f7b600 ;
    padding: 50px;
    
}